.container {
  background-color: black;
  color: white;
  display: flex;
  position: relative;
}

 

.grid-container {
  width: 66.66%; /* 2/3 of the viewport */
}

.grid-container .row {
  margin: 0; /* Removes default row margin */
  
}

.grid-container .row .col:nth-child(n+3) {
  margin-top: 4%;
}


.grid-container .row .col {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 0px; /* Adjust padding as needed */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  position: relative; 
}

 
 
 .hide {
  display: none;
 }


/* Custom CSS */
@media (max-width: 950px) {  
  .grid-container .row .col:not(:first-child) {
    margin-top: 30% !important;
  }
}

.additional-margin {
  margin-top: 4%;
}
 
 h2 {
  font-weight: 200 !important
 }